header {
    background-color: #F2BED1;
    text-align: center;
    font-weight: Bold;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20cm;
    padding: -10%;
    margin-top: 5px;
    border-style: dotted;
    margin-right: 500px;
    margin-left: 500px;
    color: white;
}
footer {
    text-align: center;
    background-color:#F2BED1;
    margin-top: 20px;
    font-size: x-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20cm;
    padding: -10%;
    margin-right: 500px;
    margin-left: 500px;
    color: white;
}
.estiloLi {
    display: inline;
    margin: 0 0 0 55px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:90%;
    text-align: center;
    padding: 0px;
    background-color:#FDCEDF;
    list-style: none;
    border-radius: 20px;
    border-style:groove;
    width:150px;
    height:150px;
   
    /*
    
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: -20%;
    padding-block: 10px;
    
  

    display: inline;
    */
}
textarea[name="user-input"] {
    padding: 10px;
    background-color: #F8E8EE;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10;
    margin: auto auto;
    width: 500px;
    height: 150px;
    display: block;

}

#reset-button {
    display: block;
    background-color:#F2BED1;
    font-size:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: medium;
    color:white;
    border:20px;
    border-radius: 20px;
    width:150px;
    height:50px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
   
}

#reset-button:active {
    background-color: white;
}

body {
    background-color:#F9F5F6;
}
/*
.p {
    color: rgb(12, 12, 12);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
/*
#reset-button.clicked {
    background-color: #dc3545; /* Color al dar clic */

